

<form asp-area=""
      asp-controller="Home"
      asp-action="Create">
    <div class="bg-light">
        <div class="container bg-white">
            <div class="row">
                <div class="col-6">
                    <div>
                        <label class="form-label">Ad</label>
                        <input type="text" class="form-control">
                        @*<span class="text-danger" asp-validation-for="Name"></span>*@
                    </div>
                    <div>
                        <label class="form-label">Yaş</label>
                        <input type="number" class="form-control">
                        @*<span class="text-danger" asp-validation-for="Age"></span>*@
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label class="form-label">Soyad</label>
                        <input type="text" class="form-control">
                        @*<span class="text-danger" asp-validation-for="Surname"></span>*@
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary btn-sm">Formu Kaydet</button>
        </div>
    </div>
</form>